<html>
	<head>
        <style type="text/css">
        	body {
        		background: #fff;
        		color:#222222;
            	font-family:"Lucida Grande","Lucida Sans Unicode", Verdana, sans-serif;
			}
			.h1, .h2, .h3 { font-weight: bold; }
			.h1 {
			    font-size: 18px;
			    margin: 5px 0;
			    color: #ff5599;
			}
    	</style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"  style="background: #fff;text-align:center;">

	<table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top: 10px;background-color: #ffffff;">
	<tr>
		<td>
            <repeaters data-ref="bandeau" data-name="Bandeau">
                <repeater data-ref="bandeau" data-name="Bandeau">
                    <layout data-ref="bandeau" data-name="Standard">
                        <item data-ref="bandeau" data-name="URL" data-type="multiline" data-richtext="1">
                            <a href="http://www.kappuccino.org" target="_blank">
                                <img src="http://kr.kappuccino.org/media/newsletter/media/newsletter/template/img/NL-bandeau.jpg" border="0"  />
                            </a>
                        </item>
                    </layout>
                </repeater>
            </repeaters>
		</td>
	</tr>
	</table>

</body>
</html>